<div class="row">
    <div class="span3">
        <section class="mb20">
            <%= render(partial: 'dashboards/member_home') %>
        </section>
    </div>
    <div class="span9">
        <div class="plate">
            <div class="plate-content">
                <h1 class="plate-header"><%= t('feedback.header.let_us_know_what_you_think') %></h1>
                <div class="row-fluid">
                    <div class="span12">
                        <%= render( partial: 'feedbacks/member_form') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>