<div class="row">
  <div class="span12">
    
    <article class="alert alert-success">
      <p class="alert-message"><strong>Thank you!</strong> Your feedback helps us to improve Intervac Home Exchange! Have a nice day!</p>
    </article>
    
    <%= link_to(t('Continue where you left off!'), @cancel_url, class: 'btn btn-primary btn-large') %>
    
  </div>
</div>