<p><%= t('users.login_password_information') %></p>
<div id="user-password-field">
  <p><strong>*******</strong></p>
  <p><%= link_to(content_tag('i','', class: 'icon-edit') + ' ' +t('global.edit'), edit_password_user_path, remote: true, class: 'btn btn-small') %></p>
</div>