<%= render(partial: 'user_settings_header', locals: {page_header: t('users.header.connect_with_facebook')}) %>

<div class="row">
  <div class="span3">
    <%= render(partial: 'user_settings_menu') %>
  </div>
  <div class="span9">
    <div class="plate">
      <%= render(partial: 'facebook_connect', locals: {section_id: 'user-facebook', header: t('global.connect_with_facebook')}, layout: 'layouts/modules/plate_section') %>
    </div>
  </div>
</div>