<%= render(partial: 'user_settings_header', locals: {page_header: t('users.header.change_password')}) %>

<div class="row">
  <div class="span3">
    <%= render(partial: 'user_settings_menu') %>
  </div>
  <div class="span9">
    <div class="plate">
      <%= render(partial: '/users/users/password_form', locals: {user: @user, user_password: @user_password, section_id: 'user-password', header: t('users.users.edit_password.header')}, layout: '/layouts/modules/plate_section') %>
    </div>
  </div>
</div>