<section id="match-alert-alert" class="alert">
  <p class="alert-message"><%= t('profile.no_destination_added') %></p>
</section>
<table id="match-alert-table" class="table table-striped">
  <tbody>
  </tbody>
</table>