<div id="wish-list-button">
  <%= link_to(content_tag('i', '', class: 'icon-plus') + ' ' + t('profile.add_destination'), account_wish_lists_url(account), remote: true, class: 'btn btn-small', id: 'add-destination-btn') %>
</div>