<section id="wish-list-alert" class="alert">
  <p class="alert-message"><%= t('profile.no_destination_added') %></p>
</section>
<table id="wish-list-table" class="table table-striped">
  <tbody>
  </tbody>
</table>