<div class="row-fluid">
  <div class="span12">
    <section id="<%= section_id -%>" class="group">
      <h1><%= header.html_safe -%></h1>
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </div>
</div>