<div class="row-fluid">
  <div class="span12">
    <section class="group">
      <h1><%= header.html_safe -%></h1>
      <div class="content">
        <%= markdown(body_text) %>
      </div>
    </section>
  </div>
</div>