.main-nav {
    background-color: rgb(67, 169, 236);
}

.main-nav-item {
    display: inline;
    float: none;
    text-align: left;
    width: auto;
}

.main-nav-link {
    border-bottom: 0;
    border-left: 0;
    float: left;
}