<section class="mb20">
  <%= render(partial: 'dashboards/member_home') %>
</section>

<section>
    <%= render(partial: 'favorites_navigation') %>
    <%= render(partial: 'conversations/conversations_navigation') %>
</section>
