<div class="row">
  <div class="span3">
    <%= render(partial: 'conversations/conversation_menu') %>
  </div>
  <div class="span9">
    <div class="plate">
      <%= render(partial: '/conversations/conversation_favorites', locals: {section_id: 'conversation-favorites', header: t('favorites.header.favorites')}, layout: '/layouts/modules/plate_section') %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  activate_bookmarks();
</script>