<% page_title t('pages.page_title.intervac_newsletter') %>
<% page_description t('newsletter.page.description')%>
<% page_keywords t('pages.keywords.newsletter_subscription') %>
<% section_image 'section-image-7' %>

<div class="row">
    <article class="wide">
        <h1 class="top-header left">
            <span class="top-header-label"><%= t('newsletter.header.thank_you_for_your_interest') %></span>
        </h1>

        <div class="alert alert-info">
            <p class="alert-message"><%= t('newsletter.alert.message.check_your_inbox_for_activation_link') %></p>
        </div>
    </article>
</div>