<section id="listing-description-text">
    <div class="mb10">
        <%= link_to(content_tag('i', '', class: 'icon-edit') + ' ' + t('global.edit'), edit_listing_presentations_path(listing), remote: true, class: 'btn btn-small') %>
    </div>
    <article>
      <%= markdown_strip_tags(listing.description) %>
    </article>
</section>
