<div class="row">
  <div class="span3">
      <%= render(partial: 'conversations/conversation_menu') %>
    </div>

    <div class="span9">
        <div class="plate">
        <%= render(partial: 'message_templates_index_table', locals: {message_templates: @message_templates, section_id: 'message-templates-index', header: t('message_templates.header.message_template')}, layout: '/layouts/modules/plate_section') %>
        </div>
    </div>
</div>