<h1>Exchange reference request</h1>
<p>Listing <%= @listing_number %> has requested an exchange reference from you. You can respond to this request by clicking the link below.</p>
<%= link_to('Go to exchange references', external_domain_link(references_member_exchange_agreements_path)) %>