<h1>Vor kurzem ist uns ein Fehler beim Versenden einer Erinnerungsemail mit dem Betreff: "Suchen Sie wirklich einen Tauschpartner?" passiert.</h1>
<br/>
<p>Diese E-Mail sollte nur an jene Mitgieder versandt werden, die sich seit einiger Zeit nicht mehr bei intervac-homeexchange.com angemeldet haben.</p>
<p>Den Fehler konnten wir beheben und bitten unsere Mitglieder um Verzeihung.</p>
<p>Mit freundlichen Grüßen</p>
<br/>
<p><strong>Intervac International</strong></p>
