<h1>Chers adhérents,</h1>
<br/>
<p>Vous avez reçu hier un message automatique intitulé « Êtes-vous toujours à la recherche d'un échange? » et vous invitant à vous connecter au site. L'envoi de ce rappel non justifié et répété en plusieurs exemplaires constitue effectivement une erreur de programmation, de la part de nos techniciens.</p>
<p>Nous vous prions de bien vouloir accepter nos sincères excuses pour la gêne occasionnée et nous vous assurons que cela ne se reproduira plus.</p>
<p>Avec nos regrets,</p>
<br/>
<p><strong>Intervac Home Exchange</strong></p>