<h1>Regarding active listing reminder e-mails</h1>
<br/>
<p>Some day ago we sent out reminders to members that had not been logged in for some time.</p>
<p>Because of an error in the e-mail routine, some members that had been logged in also received the same reminder.</p>
<p>We are truly sorry for this and has made sure this will not happen again.</p>
<br/>
<p><strong>Sincerely yours, Intervac</strong></p>
