<div class="row">
    <div class="wide">
        <header>
            <span class="listing-number">#<%= @listing.listing_number %></span>
            <h1 class="listing-header listing-main-header">
                <span class="listing-header-label"><%= @listing.city_and_country_headline.join(", ") %></span>
            </h1>
        </header>
        <%= render(partial: 'listings/message_selector', locals: {listing: @listing}) if show_for_member(@listing.account_id, current_user.account_id) if user_signed_in? %>
    </div>
</div>
