<% body_id 'feedbacks' %>
<div class="row-fluid">
  <div class="span12">
    <div class="plate">
      <%= render( partial: 'feedbacks/index', locals: {header: 'Feedback messags', section_id: 'feedback-messages'}, layout: '/layouts/modules/plate_section') %>
    </div>
  </div>
</div>