<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  The account: <strong><%= @account.account_number %></strong> with order number <strong><%= @account.current_subscription.order_number %></strong> has been activated.
</div>