<div class="alert alert-danger">
    <p class="alert-message"><%= t('accounts.no_user_found_with_email') %>: <strong><%= params[:email] %></strong> <%= t('agents.alert.message.could_be_found') %></p>
</div>