<% body_id 'agent-management' %>
<div class="row-fluid">
  <div class="span12">
    <div class="plate">
      <%= render(partial: 'agent_overview', locals: {header: 'Agents overview', section_id: 'agent-overview'}, layout: '/layouts/modules/plate_section') %>
    </div>
  </div>
</div>