<section class="aside-section">
  <h2 class="aside-header"><%= t('sitewide.feedback.headline') %></h2>
  <div class="aside-section-body">
    <%= link_to(t('sitewide.feedback.link_text'), new_feedback_url, :title => t('sitewide.feedback.link_title'), :class => "btn green") %>
  </div>
</section>