<section class="aside-section">
  <h2 class="aside-header"><%= t('pages.header.side_box.newsletter') %></h2>
  <div class="aside-section-body">
    <p><%= t('newsletter.subscription_box.headline') %></p>
    <%= link_to(t('newsletter.subscription.button'), new_newsletter_url, :title => t('newsletter.subscription_box.headline'), :class => "btn green") %>
  </div>
</section>