<div class="row">
  <div class="span12">

    <h1 class="page-header"><%= t('payment.subscriptions.header.membership_order_has_been_cancelled') %></h1>
    <p class="alert alert-info"><%= t('payment.subscription.current_order_has_been_cancelled') %></p>

    <p><%= link_to('Back to Intervac', member_dashboard_path, class: 'btn btn-primary') %></p>
    
  </div>
</div>