<div class="row mb60">
    <div class="span12">

        <h1 class="page-header"><%= t('payment.subscription.upgrade_your_intervac_membership') %></h1>

        <p>
            Something went wrong. Please try again at a later time.
        </p>

        <div class="mb60">
            <%= link_to('Cancel', member_dashboard_path, class: 'btn btn-primary') %>
        </div>

    </div>
</div>