<section class="alert alert-info">
  <h1 class="alert-heading"><%= t('global.messages') %></h1>
  <p class="alert-message"><%= link_to(t('dashboards.alert.message.you_have', {:number_of_messages => @unread_messages}), agent_conversations_url) %></p>
</section>