<% body_id 'dashboard' %>
<div class="row-fluid">
  <div class="span12">
    <div class="alert alert-info">
      <p>Hello</p>
      <p>Everything is still here and you can have a look around and click on all the links in the menu.</p>
      <p>The member management has a new look and feel that is worth checking out.</p>
      <p>New and handy information will be here soon as requested.</p>
    </div>
  </div>
</div>