ul.btn-group {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 4px 20px;
        list-style: none;
    }
}

span.filter-label {
    display: inline-block;
    margin: 0 0 4px 0;
}