<section id="default-message">
    <article class="alert alert-info">
        <h1 class="page-header"><%= default_message[:subject] %></h1>
        <%= markdown(default_message[:message]) %>
    </article>
</section>