.top-header {
    background: transparent image-url('page-header-stripes.png') repeat-x 0 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    @include rem(font-size, 1.5rem);

    &.left {
        text-align: left;

        .top-header-label {
            padding-left: 0;
        }
    }

    @include respond-to(wide-screens) {
        margin-top: 1em;
        margin-bottom: 1em;
        @include rem(font-size, 2rem);
    }
}

.top-header-label {
    background-color: $white;
    color: $orange;
    display: inline-block;
    font-family: "Georgia", sans-serif;
    font-style: italic;
    font-weight: normal;
    padding: 0 0.875em;
}