<article>
    <h1 class="page-header">The page could not be found</h1>
    <p>Our support staff has been notified and will look into it as soon as possible.</p>
    <p>We apologize for the inconvenience.</p>
    <p><%= link_to('Home', mobile_start_path, class: 'button button-green full', :'data-spinner' => 'spinner') %></p>
</article>