.btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.14285714em;
    padding: 0.6875em 1.1875em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    @include rem('font-size', 0.875rem);
    @include rem('height', 2.375rem);

    &:focus {
        outline: 0;
    }

    &.small {
        @include rem('font-size', 0.875rem);
        @include rem('padding', 0.2rem 0.6rem);
    }

    &.xl {
        @include rem('font-size', 1rem);
        @include rem('height', 2.625rem);
        line-height: 1.4375em;
        padding: 0.57142857em 1em;
    }

    &.green {
        background-color: $green;
        color: $white;
        &:hover {
            background-color: #0a9478;
        }
    }

    &.yellow,
    &.bookmarked {
        background-color: $yellow;
        color: $white;

        &:hover {
            background-color: #ff9900;
        }
    }

    &.blue {
        background-color: $light-blue;
        color: $white;

        &:hover {
            background-color: $dark-blue;
        }
    }

    &.gray {
        background-color: #e9e9e9;
        color: #6e6e6e;

        &:hover {
            background-color: #d9d9d9;
            color: #454545;
        }
    }

    &.white,
    &.bookmark {
        border-color: #ccc;
        color: #757575;

        &:hover {
            border-color: $dark-green;
            color: $dark-green;
        }
    }

    &.orange {
        background-color: #FF8310;
        color: $white;

        &:hover {
            background-color: #E95D00;
        }
    }

    &.drop-down {
        background-image: image-url('button-dropdown.png');
        background-repeat: no-repeat;
        background-position: 89% 50%;
        padding-right: 2.125em;
    }

    &.inline {
        vertical-align: top;
    }

}