.sprite-flag {
    background: image-url('flags/world-flags-32x32.png') no-repeat -9999px -9999px;
    display: inline-block;
	height: 32px;
	margin-right: 0.625em;
    width: 32px;
    vertical-align: middle;
}

.sprite-flag-ad {background-position: -82px -656px;}
.sprite-flag-ae {background-position: -82px -738px;}
.sprite-flag-af {background-position: -82px -820px;}
.sprite-flag-ag {background-position: -82px -902px;}
.sprite-flag-ai {background-position: -82px -984px;}
.sprite-flag-al {background-position: -82px -1066px;}
.sprite-flag-am {background-position: -82px -1148px;}
.sprite-flag-an {background-position: -82px -1230px;}
.sprite-flag-ao {background-position: -82px -1312px;}
.sprite-flag-aq {background-position: -82px -1394px;}
.sprite-flag-ar {background-position: -82px -1476px;}
.sprite-flag-as {background-position: -82px -1558px;}
.sprite-flag-at {background-position: -82px -1640px;}
.sprite-flag-au {background-position: -82px -1722px;}
.sprite-flag-aw {background-position: -82px -1804px;}
.sprite-flag-ax {background-position: -82px -1886px;}
.sprite-flag-az {background-position: -164px 0;}
.sprite-flag-ba {background-position: -164px -82px;}
.sprite-flag-bb {background-position: -164px -164px;}
.sprite-flag-bd {background-position: -164px -246px;}
.sprite-flag-be {background-position: -164px -328px;}
.sprite-flag-bf {background-position: -164px -410px;}
.sprite-flag-bg {background-position: -164px -492px;}
.sprite-flag-bh {background-position: -164px -574px;}
.sprite-flag-bi {background-position: -164px -656px;}
.sprite-flag-bj {background-position: -164px -738px;}
.sprite-flag-bl {background-position: -164px -820px;}
.sprite-flag-bm {background-position: -164px -902px;}
.sprite-flag-bn {background-position: -164px -984px;}
.sprite-flag-bo {background-position: -164px -1066px;}
.sprite-flag-br {background-position: -164px -1148px;}
.sprite-flag-bs {background-position: -164px -1230px;}
.sprite-flag-bt {background-position: -164px -1312px;}
.sprite-flag-bv {background-position: -164px -1394px;}
.sprite-flag-bw {background-position: -164px -1476px;}
.sprite-flag-by {background-position: -164px -1558px;}
.sprite-flag-bz {background-position: -164px -1640px;}
.sprite-flag-ca {background-position: -164px -1722px;}
.sprite-flag-cc {background-position: -164px -1804px;}
.sprite-flag-cd {background-position: -164px -1886px;}
.sprite-flag-cf {background-position: -246px 0;}
.sprite-flag-cg {background-position: -246px -82px;}
.sprite-flag-ch {background-position: -246px -164px;}
.sprite-flag-ci {background-position: -246px -246px;}
.sprite-flag-ck {background-position: -246px -328px;}
.sprite-flag-cl {background-position: -246px -410px;}
.sprite-flag-cm {background-position: -246px -492px;}
.sprite-flag-cn {background-position: -246px -574px;}
.sprite-flag-co {background-position: -246px -656px;}
.sprite-flag-cr {background-position: -246px -738px;}
.sprite-flag-cu {background-position: -246px -820px;}
.sprite-flag-cv {background-position: -246px -902px;}
.sprite-flag-cw {background-position: -656px -328px;}
.sprite-flag-cx {background-position: -246px -984px;}
.sprite-flag-cy {background-position: -246px -1066px;}
.sprite-flag-cz {background-position: -246px -1148px;}
.sprite-flag-de {background-position: -246px -1230px;}
.sprite-flag-dj {background-position: -246px -1312px;}
.sprite-flag-dk {background-position: -246px -1394px;}
.sprite-flag-dm {background-position: -246px -1476px;}
.sprite-flag-do {background-position: -246px -1558px;}
.sprite-flag-dz {background-position: -246px -1640px;}
.sprite-flag-ec {background-position: -246px -1722px;}
.sprite-flag-ee {background-position: -246px -1804px;}
.sprite-flag-eg {background-position: -246px -1886px;}
.sprite-flag-eh {background-position: -328px 0;}
.sprite-flag-er {background-position: -328px -82px;}
.sprite-flag-es {background-position: -328px -164px;}
.sprite-flag-et {background-position: -328px -246px;}
.sprite-flag-fi {background-position: -328px -328px;}
.sprite-flag-fj {background-position: -328px -410px;}
.sprite-flag-fk {background-position: -328px -492px;}
.sprite-flag-fm {background-position: -328px -574px;}
.sprite-flag-fo {background-position: -328px -656px;}
.sprite-flag-fr {background-position: -328px -738px;}
.sprite-flag-ga {background-position: -328px -820px;}
.sprite-flag-gb {background-position: -328px -902px;}
.sprite-flag-gd {background-position: -328px -984px;}
.sprite-flag-ge {background-position: -328px -1066px;}
.sprite-flag-gf {background-position: -328px -1148px;}
.sprite-flag-gg {background-position: -328px -1230px;}
.sprite-flag-gh {background-position: -328px -1312px;}
.sprite-flag-gi {background-position: -328px -1394px;}
.sprite-flag-gl {background-position: -328px -1476px;}
.sprite-flag-gm {background-position: -328px -1558px;}
.sprite-flag-gn {background-position: -328px -1640px;}
.sprite-flag-gp {background-position: -328px -1722px;}
.sprite-flag-gq {background-position: -328px -1804px;}
.sprite-flag-gr {background-position: -328px -1886px;}
.sprite-flag-gs {background-position: -410px 0;}
.sprite-flag-gt {background-position: -410px -82px;}
.sprite-flag-gu {background-position: -410px -164px;}
.sprite-flag-gw {background-position: -410px -246px;}
.sprite-flag-gy {background-position: -410px -328px;}
.sprite-flag-hk {background-position: -410px -410px;}
.sprite-flag-hm {background-position: -410px -492px;}
.sprite-flag-hn {background-position: -410px -574px;}
.sprite-flag-hr {background-position: -410px -656px;}
.sprite-flag-ht {background-position: -410px -738px;}
.sprite-flag-hu {background-position: -410px -820px;}
.sprite-flag-id {background-position: -410px -902px;}
.sprite-flag-ie {background-position: -410px -984px;}
.sprite-flag-il {background-position: -410px -1066px;}
.sprite-flag-im {background-position: -410px -1148px;}
.sprite-flag-in {background-position: -410px -1230px;}
.sprite-flag-io {background-position: -410px -1312px;}
.sprite-flag-iq {background-position: -410px -1394px;}
.sprite-flag-ir {background-position: -410px -1476px;}
.sprite-flag-is {background-position: -410px -1558px;}
.sprite-flag-it {background-position: -410px -1640px;}
.sprite-flag-je {background-position: -410px -1722px;}
.sprite-flag-jm {background-position: -410px -1804px;}
.sprite-flag-jo {background-position: -410px -1886px;}
.sprite-flag-jp {background-position: -492px 0;}
.sprite-flag-ke {background-position: -492px -82px;}
.sprite-flag-kg {background-position: -492px -164px;}
.sprite-flag-kh {background-position: -492px -246px;}
.sprite-flag-ki {background-position: -492px -328px;}
.sprite-flag-km {background-position: -492px -410px;}
.sprite-flag-kn {background-position: -492px -492px;}
.sprite-flag-kp {background-position: -492px -574px;}
.sprite-flag-kr {background-position: -492px -656px;}
.sprite-flag-kw {background-position: -492px -738px;}
.sprite-flag-ky {background-position: -492px -820px;}
.sprite-flag-kz {background-position: -492px -902px;}
.sprite-flag-la {background-position: -492px -984px;}
.sprite-flag-lb {background-position: -492px -1066px;}
.sprite-flag-lc {background-position: -492px -1148px;}
.sprite-flag-li {background-position: -492px -1230px;}
.sprite-flag-lk {background-position: -492px -1312px;}
.sprite-flag-lr {background-position: -492px -1394px;}
.sprite-flag-ls {background-position: -492px -1476px;}
.sprite-flag-lt {background-position: -492px -1558px;}
.sprite-flag-lu {background-position: -492px -1640px;}
.sprite-flag-lv {background-position: -492px -1722px;}
.sprite-flag-ly {background-position: -492px -1804px;}
.sprite-flag-ma {background-position: -492px -1886px;}
.sprite-flag-mc {background-position: -574px 0;}
.sprite-flag-md {background-position: -574px -82px;}
.sprite-flag-me {background-position: -574px -164px;}
.sprite-flag-mf {background-position: -574px -246px;}
.sprite-flag-mg {background-position: -574px -328px;}
.sprite-flag-mh {background-position: -574px -410px;}
.sprite-flag-mk {background-position: -574px -492px;}
.sprite-flag-ml {background-position: -574px -574px;}
.sprite-flag-mm {background-position: -574px -656px;}
.sprite-flag-mn {background-position: -574px -738px;}
.sprite-flag-mo {background-position: -574px -820px;}
.sprite-flag-mp {background-position: -574px -902px;}
.sprite-flag-mq {background-position: -574px -984px;}
.sprite-flag-mr {background-position: -574px -1066px;}
.sprite-flag-ms {background-position: -574px -1148px;}
.sprite-flag-mt {background-position: -574px -1230px;}
.sprite-flag-mu {background-position: -574px -1312px;}
.sprite-flag-mv {background-position: -574px -1394px;}
.sprite-flag-mw {background-position: -574px -1476px;}
.sprite-flag-mx {background-position: -574px -1558px;}
.sprite-flag-my {background-position: -574px -1640px;}
.sprite-flag-mz {background-position: -574px -1722px;}
.sprite-flag-na {background-position: -574px -1804px;}
.sprite-flag-nc {background-position: -574px -1886px;}
.sprite-flag-ne {background-position: -656px 0;}
.sprite-flag-nf {background-position: -656px -82px;}
.sprite-flag-ng {background-position: -656px -164px;}
.sprite-flag-ni {background-position: -656px -246px;}
.sprite-flag-nl {background-position: -656px -328px;}
.sprite-flag-no {background-position: -656px -410px;}
.sprite-flag-np {background-position: -656px -492px;}
.sprite-flag-nr {background-position: -656px -574px;}
.sprite-flag-nu {background-position: -656px -656px;}
.sprite-flag-nz {background-position: -656px -738px;}
.sprite-flag-om {background-position: -656px -820px;}
.sprite-flag-pa {background-position: -656px -902px;}
.sprite-flag-pe {background-position: -656px -984px;}
.sprite-flag-pf {background-position: -656px -1066px;}
.sprite-flag-pg {background-position: -656px -1148px;}
.sprite-flag-ph {background-position: -656px -1230px;}
.sprite-flag-pk {background-position: -656px -1312px;}
.sprite-flag-pl {background-position: -656px -1394px;}
.sprite-flag-pm {background-position: -656px -1476px;}
.sprite-flag-pn {background-position: -656px -1558px;}
.sprite-flag-pr {background-position: -656px -1640px;}
.sprite-flag-ps {background-position: -656px -1722px;}
.sprite-flag-pt {background-position: -656px -1804px;}
.sprite-flag-pw {background-position: -656px -1886px;}
.sprite-flag-py {background-position: -738px 0;}
.sprite-flag-qa {background-position: -738px -82px;}
.sprite-flag-re {background-position: -738px -164px;}
.sprite-flag-ro {background-position: -738px -246px;}
.sprite-flag-rs {background-position: -738px -328px;}
.sprite-flag-ru {background-position: -738px -410px;}
.sprite-flag-rw {background-position: -738px -492px;}
.sprite-flag-sa {background-position: -738px -574px;}
.sprite-flag-sb {background-position: -738px -656px;}
.sprite-flag-sc {background-position: -738px -738px;}
.sprite-flag-sd {background-position: -738px -820px;}
.sprite-flag-se {background-position: -738px -902px;}
.sprite-flag-sg {background-position: -738px -984px;}
.sprite-flag-sh {background-position: -738px -1066px;}
.sprite-flag-si {background-position: -738px -1148px;}
.sprite-flag-sj {background-position: -738px -1230px;}
.sprite-flag-sk {background-position: -738px -1312px;}
.sprite-flag-sl {background-position: -738px -1394px;}
.sprite-flag-sm {background-position: -738px -1476px;}
.sprite-flag-sn {background-position: -738px -1558px;}
.sprite-flag-so {background-position: -738px -1640px;}
.sprite-flag-sr {background-position: -738px -1722px;}
.sprite-flag-st {background-position: -738px -1804px;}
.sprite-flag-sv {background-position: -738px -1886px;}
.sprite-flag-sy {background-position: -820px 0;}
.sprite-flag-sz {background-position: -820px -82px;}
.sprite-flag-tc {background-position: -820px -164px;}
.sprite-flag-td {background-position: -820px -246px;}
.sprite-flag-tf {background-position: -820px -328px;}
.sprite-flag-tg {background-position: -820px -410px;}
.sprite-flag-th {background-position: -820px -492px;}
.sprite-flag-tj {background-position: -820px -574px;}
.sprite-flag-tk {background-position: -820px -656px;}
.sprite-flag-tl {background-position: -820px -738px;}
.sprite-flag-tm {background-position: -820px -820px;}
.sprite-flag-tn {background-position: -820px -902px;}
.sprite-flag-to {background-position: -820px -984px;}
.sprite-flag-tr {background-position: -820px -1066px;}
.sprite-flag-tt {background-position: -820px -1148px;}
.sprite-flag-tv {background-position: -820px -1230px;}
.sprite-flag-tw {background-position: -820px -1312px;}
.sprite-flag-tz {background-position: -820px -1394px;}
.sprite-flag-ua {background-position: -820px -1476px;}
.sprite-flag-ug {background-position: -820px -1558px;}
.sprite-flag-um {background-position: -820px -1640px;}
.sprite-flag-us {background-position: -820px -1722px;}
.sprite-flag-uy {background-position: -820px -1804px;}
.sprite-flag-uz {background-position: -820px -1886px;}
.sprite-flag-va {background-position: -902px 0;}
.sprite-flag-vc {background-position: -902px -82px;}
.sprite-flag-ve {background-position: -902px -164px;}
.sprite-flag-vg {background-position: -902px -246px;}
.sprite-flag-vi {background-position: -902px -328px;}
.sprite-flag-vn {background-position: -902px -410px;}
.sprite-flag-vu {background-position: -902px -492px;}
.sprite-flag-wf {background-position: -902px -574px;}
.sprite-flag-ws {background-position: -902px -656px;}
.sprite-flag-ye {background-position: -902px -738px;}
.sprite-flag-yt {background-position: -902px -820px;}
.sprite-flag-za {background-position: -902px -902px;}
.sprite-flag-zm {background-position: -902px -984px;}
.sprite-flag-zw {background-position: -902px -1066px;}