@import "mixins";

ul#spoken-languages {
	@include list-reset;
	margin-bottom: 20px;
	border-left: 1px solid #e2e2e2;
	float: left;
	li {
		width: 206px;
		padding-left: 20px;
		float: left;
		border-right: 1px solid #e2e2e2;
	}
	label {
		padding: 5px;
		&:hover {
			color: $hover-green;
		}
	} 
}