.center {
    text-align: center !important;
}

.capitalize:first-letter{
  text-transform: uppercase;
}

.float-right {
  float: right;
}

.mb0 {
    margin-bottom: 0px !important;
}

.text-right {
    text-align: right !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml60 {
    margin-left: 60px !important;
}

.pb0{
  padding-bottom: 0 !important;
}

.pb10{
  padding-bottom: 10px !important;
}

.pb20{
  padding-bottom: 20px !important;
}

.pb40{
  padding-bottom: 40px !important;
}

.pt0{
  padding-top: 0 !important;
}

.pt10{
  padding-top: 10px !important;
}

.pt20{
  padding-top: 20px !important;
}

.pt40{
  padding-top: 40px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl60 {
    padding-left: 60px !important;
}

.strike {
	text-decoration: line-through;
}

.bb-gray {
  border-bottom: 1px solid #e2e2e2;
}

.back-btn {
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

.no-space {
    margin: 0 !important;
    padding: 0 !important;
}

.is-inline {
    display: inline-block;
}

.align-top {
    vertical-align: top;
}

.help-link {
    float: right;
    display: inline-block;
}

.questionmark {
    width: 24px;
    height: 24px;
    margin-top: -10px;
}

.cell-center {
    text-align: center !important;
}

.is-hidden {
    display: none;
}

.error {
    color: #E9600F;
}