<%= markdown(t('dashboards.text.add_additional_listings')) %>
<p>
    <%= link_to(content_tag('i', '', class: 'icon-plus icon-white') + ' ' + t('button.create_listing'), new_member_listing_path, class: "btn btn-success") -%>
</p>