<div class="alert alert-info">
    <p><%= t('dashboard.alert.awaiting_exchange_requests') %></p>
    <%= link_to(t('button.take_action'),  references_member_exchange_agreements_path, class: 'btn btn-link') %>
</div>