<nav id="section-nav" role="secondary">
  <ul class="nav nav-tabs nav-stacked">
    <% highlight_current_link(:class => 'active') do |n| -%>
      <%= n.li_link_to('Price Plans', price_plans_country_path) %>
      <% countries.each do |country| %>
        <%= n.li_link_to(t(country.msgid), country_price_plans_url(country)) %>
      <% end %>
    <% end -%>
  </ul>
</nav>