<% body_id 'payment' %>
<div class="row-fluid">
  <div class="span12">
    <nav id="section-nav" role="secondary">
      <%= render(partial: '/payment/payment_settings_menu') %>
    </nav>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="plate">
      <div class="plate-content">
        <h1 class="plate-header"><%= t('global.price_plans') %></h1>
        <div class="alert">
          To set country-wide attributes, like PayPal address or country seller / merchant information please go to <%= link_to('Countries', countries_path) %> and click on the name of the country.
        </div>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <% @countries.each do |country| %>
              <tr>
                <td><%= link_to(t(country.msgid), country_price_plans_url(country)) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>