<div class="row">
  <div class="span12">
      <div class="alert alert-danger">
        <p class="alert-message"><%= t('accounts.alert.message.account_does_not_have_valid_subscription_and_not_completed_signup') %></p>
      </div>
  </div>
</div>