<p>If you hide an account all the information associated with the account will be archived and no longer visible for members. <strong>Agents and organizers will no longer be able to «Switch to user»</strong>.</p>
<p><%= link_to('Hide account', confirm_termination_account_path(@account), class: 'btn btn-danger') %></p>
