<div class="row-fluid">
  <div class="span12">
    <div class="plate">
      <div class="plate-content">
        <h1 class="plate-header">Do you want to hide the account <%= @account.account_number %>?</h1>
        <div class="alert alert-danger">
          Are you sure you want to hide this account? When an account is hidden none of the information and associated listings can be restored.
        </div>

        <p>The account you are about to hide is associated with the following listings.</p>

        <ul>
          <% @account.listings.each do |listing| %>
            <li><%= listing.listing_number %></li>
          <%- end -%>
        </ul>

        <p>
          <%= link_to('Hide account', terminate_account_path(@account), class: 'btn btn-danger', confirm: 'Are you sure you want to hide this account? This action can not be undone.') %>
          <%= link_to('Keep account', account_path(@account), class: 'btn btn-success') %>
        </p>
      </div>
    </div>
  </div>
</div>
