<% body_id 'member-management' %>
<div class="row-fluid">
  <div class="span12">
    <div class="plate">
      <div class="plate-content">
        <h1 class="plate-header">The Account was hidden successfuly</h1>
        <div class="alert alert-success">
          <p class="alert-message">The account has been hidden and the information associated with the account has been archived. All associated users have been hidden and can not use the system.</p>
        </div>
        <p><%= link_to('Go to member management', member_filters_path, class: 'btn') %></p>
      </div>
    </div>  
  </div>
</div>