<article class="non-existing">
  <h1 class="page-header"><%= t('listings.text.info.first_steps') %></h1>
  <p><%= t('listings.text.info.first_steps') %></p>
  <p><%= link_to( content_tag('i', '', class: 'icon-plus icon-white') + content_tag('span', t('button.create_listing')), new_member_listing_url, class: "btn btn-primary btn-large") -%></p>
</article>