<% body_id 'legal' %>
<% page_title t('pages.cookies.title') %>
<% page_description t('pages.cookies.description') %>
<% section_image 'section-image-5' %>

<div class="row">
    <article class="legal-text">
        <h1 class="top-header">
            <span class="top-header-label"><%= t('pages.cookies.headline') %></span>
        </h1>

        <%= markdown(t('pages.cookies.text')) %>
    </article>
</div>