.listing-status-subheader{
	font-size: 14px;
	font-weight: bold;
}
.listing-status-photo{
	display: block;
	margin: 0 0 6px 0;
	padding: 0;
	border: 1px solid #757575;
}

.no-border td{
	border: none;
}