.thin-spinner-container {
    min-height: 200px;
    position: relative;
    width: 100%;
}

.thin-spinner {
    background-color: #f2f2f2;
    background-image: image-url('thin-spinner.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 6px;
    height: 130px;
    left: 45%;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 130px;
}