<div class="browsers">
  <h1 class="browser-header">Your browser is out-of-date. Please download one of these up-to-date, free and excellent browsers:</h1>

  <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" class="browser-link">
    <%= image_tag('IE-icon.png', width: 64, height: 64, alt: 'Internet Explorer', class: 'browser-image') %>
    <span>Internet Explorer</span>
  </a>
  <a href="http://www.mozilla.org/" class="browser-link">
    <%= image_tag('firefox-64-noshadow.png', width: 64, height: 64, alt: 'FireFox', class: 'browser-image') %>
    <span>Firefox</span>
  </a>

  <a href="https://www.google.com/intl/en/chrome/browser/" class="browser-link">
    <%= image_tag('chrome-icon.png', width: 64, height: 64, alt: 'Google Chrome', class: 'browser-image') %>
    <span>Google Chrome</span>
  </a>
</div>