<div class="alert alert-warning">
  <p class="alert-message">You are editing the listing: <strong><%= listing.listing_number %></strong> that belongs to <strong><%= listing.account.contact.name %> - <%= listing.account.contact.email %> (<%= listing.account.account_number %>)</strong></p>
</div>