<div class="language-menu">
  <%= link_to('Language', '#', class: 'btn xl white drop-down', id: 'language-menu-button') %>
  <ul class="language-menu-list" id="language-menu-list">
    <%= languages_for_country %>
  </ul>
</div>
