<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Intervac Home Exchange</title>
	<style type="text/css" media="all">
	   
	   body {
	       background-color: #f2f2f2;
	       margin: 0;
	       padding: 50px;
	       color: #222222;
	       font-size: 13px;
	       font-family: arial, sans-serif;
	   }
	   
	   #content {
	       margin-bottom: 20px;
	       padding: 30px;
	       border: 1px solid #ccc;
	       background-color: #ffffff;
	   }
	   h1 {
	       font-size: 19px;
	       font-weight: normal;
	   }
	   h2 {
	       font-size: 15px;
	       font-weight: normal;
	   }
	   table {
	   	border-collapse: collapse;
	   	border-spacing: 0;
	   	border: 0;
	   	width: 600px;
	   	font-size: 13px;
	   }
	   td {
	   	padding-top: 8px 0 8px 0;
	   }
	   .col1 {
	   	width: 150px;
	   	text-align: right;
	   }
	   .col2 {
	   	width: 430px;
	   	padding-left: 20px;
	   	text-align: left;
	   }
	   .bb {
	   	border-bottom: 1px solid #cccccc;
	   	padding-bottom: 4px;
	   	margin-bottom: 12px;
	   }
	</style>
</head>
<body>

<div id="content">
    <img alt="Intervac - The original home exchange service" height="39" id="logotype" src="http://en.intervac-homeexchange.com/assets/intervac-home-exchange.png" title="Intervac - The original home exchange service" width="195">
    <%= yield %>
</div>
<p>Copyright &copy; <%= Time.now.year %> Intervac International. All rights reserved.</p>
</body>
</html>