<% section_image 'section-image-5' %>
<div class="row">
    <div class="wide">
        <article>
            <h1 class="top-header">
                <span class="top-header-label">
                    <%= t('users.registrations.cancellation.header') %>
                </span>
            </h1>

            <p><%= t('users.registration.cancelled_information') %></p>

            <p><%= link_to(t('registration.back_to_start_page'), root_url) %></p>
        </article>
    </div>
</div>